a{
    text-decoration: none;
}
li {
    list-style-type: none;
  }
.icons{
    font-size: 2rem;
}
.icon-li:hover{
    box-shadow:0 1px 1px #fdcd3b;
    font-weight: 600;
}
.icon-li:active{
    color:#fdcd3b !important;
}
.contato{
    margin:0;
    padding:0;
}
.footer{
    background: #ccc;
}

.contato-li:hover{
    text-shadow:0 1px 1px #5bc0de;
    font-weight: 600;
}
.contato-li:active{
    color:#5bc0de !important;
}