.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

a {
    cursor: pointer;
}

.card-title:hover {
    text-decoration: underline;
}